* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: blanchedalmond;
}

/* css is same for all pages */

.div {
    margin: 2%;
}

.h1 {
    margin: 2%;
    color: darkolivegreen;
}

.img {
    width: 400px;
    height: auto;
    margin: 2%;
    border: 5px solid darkolivegreen;
}

.h2 {
    margin: 2%;
    color: darkolivegreen;
}

.p {
    margin: 2%;
}

.ul {
    margin: 2%;
    font-size: 18px;
    list-style: disc;
    list-style-position: inside;
}

.ul li {
    margin: 10px 0;
}

.ol {
    margin: 2%;
    font-size: 18px;
    list-style-position: inside;
}

.ol li {
    margin: 10px 0;
}