* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: blanchedalmond;
}

/* index.html */

.div-index {
    margin: 2%;
}

.h1-index {
    margin: 2%;
    color: darkolivegreen;
}

.ul-index {
    color: burlywood;
    font-size: 22px;
    list-style: disc;
    list-style-position: inside;
    margin: 5%;
}

/* scrambled-eggs.html */

.img-scrambled-eggs {
    width: 400px;
    height: auto;

}

.ul-scrambled-eggs li::marker {
    color: burlywood;
    font-size: 22px;
}

.ol-scrambled-eggs li::marker {
    color: burlywood;
}

/* tacos.html */

.img-tacos {
    width: 400px;
    height: auto;
}

.ul-tacos li::marker {
    color: burlywood;
    font-size: 22px;
    list-style: circle;
    list-style-position: inside;
}

.ol-tacos li::marker {
    color: burlywood;
}

/* carnivore-ice-cream.html */

.img-carnivore-ice-cream {
    width: 400px;
    height: auto;
}

.ul-carnivore-ice-cream li::marker {
    color: burlywood;
    font-size: 22px;
}

.ol-carnivore-ice-cream li::marker {
    color: burlywood;
}