/* index.html */

* {
    font-family: Arial, Helvetica, sans-serif;
}

#ul-index {
    color: burlywood;
    font-size: 22px;
}

/* scrambled-eggs.html */

#ul-scrambled-eggs li::marker {
    color: burlywood;
    font-size: 22px;
}

#ol-scrambled-eggs li::marker {
    color: burlywood;
}

/* tacos.html */

#ul-tacos li::marker {
    color: burlywood;
    font-size: 22px;
}

#ol-tacos li::marker {
    color: burlywood;
}

/* carnivore-ice-cream.html */

#img-carnivore-ice-cream {
    width: 400px;
    height: auto;
}

#ul-carnivore-ice-cream li::marker {
    color: burlywood;
    font-size: 22px;
}

#ol-carnivore-ice-cream li::marker {
    color: burlywood;
}